doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Admin
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="./style.css")
  body
    header
      nav
        ul.nav
          li
            a(href="./index", class="active") Inicio
          li
            a(href="./nosotros") Nosotros
          li
            a(href="./datosSequia") Datos sequia
          li
            a(href="./contacto") Contacto
          li
            a(href="./admin") Admin
          li
            a(href="./logout") Logout
            
    div.list-group
      li.list-group-item
        a(href="./registre_usuari" class="list-group-item list-group-item-primary" aria-current="true") Registrar nou usuari
      li.list-group-item
        a(href="./modificar_usuari" class="list-group-item list-group-item-warning" aria-current="true") Modificar usuari
      li.list-group-item
        a(href="./borrar_usuari" class="list-group-item list-group-item-danger" aria-current="true") Borrar usuari