doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Datos sequia
    link(rel="stylesheet", href="./style.css")
  body
    header
      nav
        ul.nav
          li
            a(href="./index", class="active") Inicio
          li
            a(href="./nosotros") Nosotros
          li
            a(href="./datosSequia") Datos sequia
          li
            a(href="./contacto") Contacto
          li
            a(href="./login") Login
            
    h1.datosSequia Datos sobre sequia
    section.layout
      div.tabla
        table(style="border-collapse: collapse; width: 100%;")
          thead
          tr(style="border-bottom: 1px solid #000;")
            th(style="padding: 8px; text-align: center;") Pais
            th(style="padding: 8px; text-align: center;") Sequera
          tbody
            tr(style="border-bottom: 1px solid #000;")
              td(style="padding: 8px;") Barcelona
              td(style="padding: 8px;") 70%
            tr(style="border-bottom: 1px solid #000;")
              td(style="padding: 8px;") Madrid
              td(style="padding: 8px;") 52%
            tr(style="border-bottom: 1px solid #000;")
              td(style="padding: 8px;") Andalucia
              td(style="padding: 8px;") 35%

            tr(style="border-bottom: 1px solid #000;")
              td(style="padding: 8px;") Valencia
              td(style="padding: 8px;") 61%
            tr(style="border-bottom: 1px solid #000;")
              td(style="padding: 8px;") Vall d'Aran
              td(style="padding: 8px;") 47%
            tr
              td(style="padding: 8px;") Lleida
              td(style="padding: 8px;") 89%

