doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title datosSequia
    link(rel="stylesheet", href="./style.css")
  body
    header
      nav
        ul.nav
          li
            a(href="./index", class="active") Inicio
          li
            a(href="./nosotros") Nosotros
          li
            a(href="./datosSequia") Datos sequia
          li
            a(href="./contacto") Contacto
          li
            a(href="./login") Login
            
    h1.datosSequia Datos sobre sequia
    section.layout
      div.tabla
        br
        span.titulo Datos de la sequía en Cataluña: más de siete millones de personas afrontan restricciones por la falta de agua.
