doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Inicio
    link(rel="stylesheet", href="./style.css")
  body
    header
      nav
        ul.nav
          li
            a(href="./index", class="active") Inicio
          li
            a(href="./nosotros") Nosotros
          li
            a(href="./datosSequia") Datos sequia
          li
            a(href="./contacto") Contacto
          li
            a(href="./login") Login
    p
    br
    br
    br
    div.nuevo-div
      br
      br
      h2 Bienvenido a StopSequias.org
      br
      br
      p(style="color: white; text-align: justify; line-height: 1.6; margin-left: 100px; margin-right: 100px; font-size: large;")
        | En esta web, te informaremos de todas las datosSequia relacionadas con sequia en tu zona, recibiras consejos y trucos para estas situaciones
        br
        br
        | No olvides compartir nuestra página a tus contactos, juntos lograremos afrontar la sequia mejor
        br
        br
        | Somos una asociación sin animo de lucro, tu apoyo y tus donaciones nos permiten seguir informandote.
        br
        br
      div.button-container
        br
        a(href="index.html", class="ver-catalogo-btn") LINK RANDOM
      br
      br
      br
      h2 Contador de Visitas
      div#contador(style="color: white; text-align: center; font-size: larger;") Cargando...
