html
  head
    title #{titol}
    link(rel='stylesheet', href='./style.css')
  body
    form(method="post", class="form", action="/comprovarUsuariBD")
      | Correu:
      input(name="correu", placeholder="abc@email.com", type="email")
      | Contrasenya:
      input(name="passwd", type="password")

      input(
        class="btn" 
        type="submit"
        value="Iniciar sessió"
      )