doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Nosotros
    link(rel="stylesheet", href="./style.css")
  body
    header
      nav
        ul.nav
          li
            a(href="./index", class="active") Inicio
          li
            a(href="./nosotros") Nosotros
          li
            a(href="./noticias") Noticias
          li
            a(href="./contacto") Contacto
          li
            a(href="./login") Login

    div.titulo-nosaltres
      h1 CONOCENOS
      h2.texto-superior-nosaltres CONOCENOS
    div.nuevo-div
      br
      h2 NOSOTROS
      p(style="color: white; text-align: justify; line-height: 1.6; margin-left: 100px; margin-right: 100px;")
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta velit et molestias necessitatibus perferendis, ullam beatae voluptatum placeat perspiciatis explicabo, corporis inventore nostrum quis? Quibusdam qui sapiente fugit debitis nemo.
        br
        br
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit asperiores labore dicta obcaecati necessitatibus excepturi libero nobis alias aspernatur est, rerum similique animi accusantium voluptates nemo? Veniam soluta minus architecto.
        br
        br
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem nulla, mollitia sint soluta sapiente a molestias eligendi incidunt corporis labore, minus nemo aspernatur, dolor omnis rem animi perspiciatis voluptatum ex.
        br
        br
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt totam corrupti at officia. Veritatis modi soluta placeat dolorem totam similique, eos cum tempora magnam inventore expedita, ipsum nesciunt esse quo?
      div.button-container
        br
        a(href="index.html", class="ver-catalogo-btn") LINK RANDOM
      br
