doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Noticias
    link(rel="stylesheet", href="./style.css")
  body
    header
      nav
        ul.nav
          li
            a(href="./index", class="active") Inicio
          li
            a(href="./nosotros") Nosotros
          li
            a(href="./noticias") Noticias
          li
            a(href="./contacto") Contacto
          li
            a(href="./login") Login
            
    h1.noticias Noticias
    section.layout
      div.noticia1
        img(src="/Assets/Images/noticia1.jpeg")
        br
        br
        span.titulo Cataluña entrará en emergencia por sequía la semana que viene.
      div.noticia2
        img(src="/Assets/Images/noticia2.jpeg")
        br
        br
        span.titulo En la Riera de Canyet de Badalona, desde hace 20 años se pierden unos 180.000 litros diarios por fugas en una tubería de Aigües-Ter Llobregat.
      div.noticia3
        video#movies(autobuffer="true", controls)
          source(src="/Assets/Video/sequia.mp4", type="video/mp4")
        br
        br
        span.titulo Datos de la sequía en Cataluña: más de siete millones de personas afrontan restricciones por la falta de agua.
